@let events = events$ | async;

<app-outlet-inner>
  <section>
    <h3 class="text-primary-clr mb-3">Events</h3>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Search by Event Name</mat-label>
          <input
            matInput
            type="text"
            [(ngModel)]="query$.value.search_value"
            placeholder="Enter event name"
            (keyup.enter)="changeFilter('search_value', $any($event.target).value)"
            class="ms-1"
          >
          <span matPrefix class="ms-2">
            <mat-icon>search</mat-icon>
          </span>
          <button (click)="clearFilter('search_value')" *ngIf="query$.value.search_value" matSuffix mat-icon-button aria-label="Clear" type="button">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Search by Time</mat-label>
          <mat-select [(ngModel)]="query$.value.time" (selectionChange)="changeFilter('time', $event.value)">
            @for (time of times; track time) {
              <mat-option [value]="time" class="text-capitalize">
                {{ time }}
              </mat-option>
            }
          </mat-select>
          <button (click)="clearFilter('time')" *ngIf="query$.value.time" matSuffix mat-icon-button aria-label="Clear" type="button">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Search by Category</mat-label>
          <mat-select [(ngModel)]="query$.value.category" (selectionChange)="changeFilter('category', $event.value)">
            @for (category of categories; track category) {
              <mat-option [value]="category" class="text-capitalize">
                {{ category }}
              </mat-option>
            }
          </mat-select>
          <button (click)="clearFilter('category')" *ngIf="query$.value.category" matSuffix mat-icon-button aria-label="Clear" type="button">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="col-md-6"></div>
    </div>
    @if (events && events.length > 0) {
      @for (item of events; track item._id) {
        <mat-card appearance="outlined" class="event-card">
          <div class="px-3 pt-3">
            <mat-card-title class="text-primary-clr">{{ item.title }}</mat-card-title>
            <mat-card-subtitle class="text-primary-clr">{{ item.description }}</mat-card-subtitle>
          </div>
          <mat-card-actions [align]="'end'" class="px-3 pb-3">
            <button
              mat-stroked-button
              class="text-secondary-clr bg-primary-clr"
              [routerLink]="'/attendee/dashboard/events/' + item._id + '/view'"
            >
              <span>See Details</span>
              <mat-icon>arrow_forward</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      }
    } @else {
      <p class="text-center mt-3">There is no events.</p>
    }
  </section>
</app-outlet-inner>