<mat-toolbar class="bg-primary-clr">
  <button mat-icon-button class="text-secondary-clr" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <p class="text-secondary-clr mb-0 ms-3">VE-Plan</p>
  <span class="spacer"></span>
  <button mat-icon-button class="text-secondary-clr" (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" opened>
    <div class="sidenav-list">
      <a class="sidenav-item" routerLink="home" routerLinkActive="active">
        <mat-icon class="text-primary-clr">event_note</mat-icon>
        <span>Calendar</span>
      </a>
    </div>
    <div class="sidenav-list">
      <a class="sidenav-item" routerLink="events" routerLinkActive="active">
        <mat-icon class="text-primary-clr">event</mat-icon>
        <span>Events</span>
      </a>
    </div>
    @if (isAttendee) {
      <div class="sidenav-list">
        <a class="sidenav-item" routerLink="invitations" routerLinkActive="active">
          <mat-icon>drafts</mat-icon>
          <span>Invitations</span>
        </a>
      </div>
      <div class="sidenav-list">
        <a class="sidenav-item" routerLink="joined_events" routerLinkActive="active">
          <mat-icon>how_to_reg</mat-icon>
          <span>Joined Events</span>
        </a>
      </div>
    }
  </mat-drawer>
  <div class="sidenav-content">
    <router-outlet />
  </div>
</mat-drawer-container>