@let event = event$ | async;

<app-outlet-inner>
  <div class="d-flex justify-content-between align-items-center">
    <div [formGroup]="form">
      <mat-form-field appearance="outline">
        <mat-icon matPrefix>search</mat-icon>
        <mat-label>Search Users</mat-label>
        <input matInput formControlName="search_input" placeholder="Enter name or email">
      </mat-form-field>
    </div>

    <div class="d-flex align-items-center" style="gap: .5rem;">
      <button
        mat-raised-button
        type="button"
        class="bg-secondary-clr text-primary-clr"
        (click)="sendInvitation()"
      >
        <mat-icon>mail</mat-icon>
        Send Invitation
      </button>
      @if (event) {
        <button mat-icon-button class="bg-secondary-clr text-primary-clr" [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openInvitedUsersDialog(event._id)">
            <mat-icon>supervised_user_circle</mat-icon>
            Invited Users
          </button>
          <button mat-menu-item (click)="openAcceptedUsersDialog(event._id)">
            <mat-icon>done_all</mat-icon>
            Accepted Users
          </button>
        </mat-menu>
      }
    </div>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <!-- @if (!isDisabled()) { -->
            <mat-checkbox
              (change)="$event ? toggleAllRows() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()"
              [aria-label]="checkboxLabel()"
            >
            </mat-checkbox>
          <!-- } -->
        </th>
        <td mat-cell *matCellDef="let row">
          <!-- @if (!row.register_approved) { -->
            <mat-checkbox 
              (click)="$event.stopPropagation()"
              (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)"
              [aria-label]="checkboxLabel(row)"
            >
            </mat-checkbox>
          <!-- } -->
        </td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell text-center py-3" colspan="3">No data matching the filter "{{ form.get("search_input")?.value }}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25]" aria-label="Select page of users"></mat-paginator>
  </div>
</app-outlet-inner>
