.page-header {
  --cluster-gap: var(--app-space-4);
}

.page-header {
  --cluster-gap: var(--app-space-4);
}

.invitations-list {
  align-items: center;
}

.see-details {
  display: flex;
  gap: .3rem;
}
