@let is_created = is_created$ | async;

<app-outlet-inner>
  @if (is_created) {
    <button
      type="button"
      mat-raised-button
      (click)="join()"
    >
      Join Meeting
    </button>
    <button
      type="button"
      mat-raised-button
    >
      Notify Attendees
    </button>
  } @else {
    <button
      type="button"
      mat-raised-button
      (click)="create()"
    >
      Start Meeting
    </button>
  }

  <ng-container>

    <div #jitsi_iframe></div>

    <div class="item-center">
        <span>Custom Controls</span>
    </div>
    <div class="item-center">
        <span>&nbsp;&nbsp;</span>
        <button mat-button (click)="executeCommand('toggleAudio')">
          {{isAudioMuted ? 'Mute' : 'Unmute'}}
        </button>
        <button mat-button (click)="executeCommand('hangup')">
          Leave
        </button>
        <button mat-button (click)="executeCommand('toggleVideo')">
          {{ isVideoMuted ? 'Camera Off' : 'Camera On' }}
        </button>
        <button mat-button (click)="executeCommand('toggleShareScreen')">
          Share Screen
        </button>
    </div>


  </ng-container>

</app-outlet-inner>