@let is_created = is_created$ | async;

<app-outlet-inner>
  <div class="d-flex justify-content-end mb-3" style="gap: .5rem;">
    @if (is_created) {
      <button
        type="button"
        mat-raised-button
        class="bg-primary-clr text-secondary-clr"
        (click)="join()"
      >
        Join Meeting
      </button>
    } @else {
      <button
        type="button"
        mat-raised-button
        class="bg-primary-clr text-secondary-clr"
        (click)="create()"
      >
        Start Meeting
      </button>
    }
    <button
      type="button"
      mat-raised-button
      class="bg-primary-clr text-secondary-clr"
      routerLink="attendees"
    >
      View Attendees
    </button>
  </div>

  <ng-container>
    <div #jitsi_iframe></div>
  </ng-container>
</app-outlet-inner>