<app-register-wrapper>
  <ng-container form>
    <h1 class="text-primary-clr mb-3 show-md-down text-center">VE-Plan</h1>
    @if (expired()) {
      <h3 class="text-primary-clr mb-4 text-center">Link Expired</h3>
      <p class="text-center mx-3 mb-4">{{ expiredMessage() }}</p>
      <div class="cluster cluster--center">
        <a routerLink="/forgot_password" mat-raised-button class="bg-primary-clr text-secondary-clr">
          Request a new reset link
        </a>
      </div>
    } @else {
      <h3 class="text-primary-clr mb-4 text-center">Reset Password</h3>
      <p class="text-center mx-3 mb-4">Please enter your new password.</p>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="stack reset-password-form w-100">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>New Password</mat-label>
          <input matInput type="password" formControlName="password" placeholder="Enter your new password" />
          <mat-error appFormError [control]="resetPasswordForm.controls['password']" labelFor="Password" />
        </mat-form-field>
        <div class="cluster cluster--center">
          <app-submit-button label="Reset Password" [busy]="submitting()" [disabled]="resetPasswordForm.invalid" />
        </div>
      </form>
    }
    <div class="mt-3">
      <a routerLink="/login" class="text-primary-clr cluster cluster--center back-to-login">
        <mat-icon>arrow_back</mat-icon>
        <span>Back to Login</span>
      </a>
    </div>
  </ng-container>
</app-register-wrapper>
