<app-register-wrapper>
  <ng-container form>
    @if (expired()) {
      <h1 class="auth-title">Link expired</h1>
      <p class="auth-subtitle">{{ expiredMessage() }}</p>
      <div class="cluster cluster--center">
        <a routerLink="/forgot_password" mat-flat-button>
          Request a new reset link
        </a>
      </div>
    } @else {
      <h1 class="auth-title">Set a new password</h1>
      <p class="auth-subtitle">Choose a password with at least 8 characters.</p>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="stack reset-password-form" novalidate>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>New password</mat-label>
          <input matInput type="password" formControlName="password" placeholder="Enter your new password" autocomplete="new-password" />
          <mat-error appFormError [control]="resetPasswordForm.controls['password']" labelFor="Password" />
        </mat-form-field>
        <div class="cluster cluster--center">
          <app-submit-button label="Reset password" [busy]="submitting()" [disabled]="resetPasswordForm.invalid" />
        </div>
      </form>
    }
    <div class="mt-4">
      <a routerLink="/login" class="auth-back-link cluster cluster--center">
        <mat-icon aria-hidden="true">arrow_back</mat-icon>
        <span>Back to log in</span>
      </a>
    </div>
  </ng-container>
</app-register-wrapper>
