@let notifications = notifications$ | async;

@if (isLoading) {
  <app-page-loading></app-page-loading>
} @else {
<app-outlet-inner>
  <h3 class="text-primary-clr mb-3">Notifications</h3>

  <div class="d-flex justify-content-end mb-4" style="gap: .5rem;">
    <button mat-raised-button class="text-primary-clr bg-secondary-clr" (click)="markAsRead()">
      <mat-icon class="text-primary-clr">done_all</mat-icon>
      <span>Mark as read</span>
    </button>
    <button mat-stroked-button (click)="deleteSelected()">
      <mat-icon class="text-danger">delete</mat-icon>
      <span class="text-danger">Delete</span>
    </button>
  </div>
  @if (notifications) {
    @if (notifications.length === 0) {
    <div class="text-center py-4">
      <h3>There is no notification.</h3>
    </div>
    }
    @if (notifications.length > 0) {
    <div class="d-flex flex-column w-100 mx-auto" style="gap: 1rem; max-width: 600px;">
      @for (notification of notifications; track $index) {
      <mat-card appearance="outlined" [ngClass]="{ 'bg-secondary-clr': !notification.isRead }">
        <mat-card-content>
          <div class="d-flex" style="gap: .5rem;">
            <mat-checkbox (change)="onChange(notification._id)" color="primary"></mat-checkbox>
            <div class="d-flex flex-column">
              <h4 class="text-primary-clr">{{ notification.title }}</h4>
              <p class="text-primary-clr mb-0">{{ notification.message }}</p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      }
    </div>
    }
  }
</app-outlet-inner>
}