<app-register-wrapper>
  <ng-container form>
    <h1 class="text-primary-clr mb-3 d-md-none text-center">VE-Plan</h1>
    <h3 class="text-primary-clr mb-4 text-center">Forgot Password</h3>
    <p class="text-center mx-3 mb-4">Please enter your email to reset your password.</p>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="d-flex flex-column w-100" style="gap: .5rem; max-width: 300px;">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Enter your email" />
        @if (forgotPasswordForm.get('email')?.touched && forgotPasswordForm.get('email')?.errors) {
        <mat-error>
          @if (forgotPasswordForm.get('email')?.hasError('required')) {
            <span>Email is required.</span>
          }
          @if (forgotPasswordForm.get('email')?.hasError('email')) {
            <span>Please enter a valid email.</span>
          }
        </mat-error>
        }
      </mat-form-field>
      <div class="d-flex justify-content-center">
        <button mat-raised-button class="bg-primary-clr text-secondary-clr" type="submit" [disabled]="forgotPasswordForm.invalid">
          Reset Password
        </button>
      </div>
    </form>
    <div class="mt-3">
      <a routerLink="/login" class="text-primary-clr d-flex align-items-center justify-content-center gap-2">
        <mat-icon>arrow_back</mat-icon>
        <span>Back to Login</span> 
      </a>
    </div>
  </ng-container>
</app-register-wrapper>