@let event = event$ | async;
@let sessions = sessions$ | async;

<app-outlet-inner>
@if (event) {
  <section>
    <div class="d-flex justify-content-between align-items-center mb-2">
      <h3 class="text-primary-clr mb-0">Event's Details</h3>
      @if (isOwner(event.user._id)) {
        <button mat-icon-button class="bg-secondary-clr text-primary-clr" [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="'/organizer/dashboard/events/' + event._id + '/registered_users'">
            <mat-icon>people_outline</mat-icon>
            Registered Users
          </button>
          <button mat-menu-item [routerLink]="'/organizer/dashboard/events/' + event._id + '/invite'">
            <mat-icon>person_add</mat-icon>
            Invite Users
          </button>
          <button mat-menu-item (click)="editEvent(event)">
            <mat-icon>edit</mat-icon>
            Edit Event
          </button>
        </mat-menu>
      }
    </div>
    <app-event-details-card [event]="event" />
  </section>
  <section class="mt-3">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h5 class="text-primary-clr mb-0">Sessions</h5>
      @if (isOwner(event.user._id)) {
        <button
          mat-raised-button
          type="button"
          class="bg-secondary-clr text-primary-clr"
          (click)="openSessionModal(event._id)"
        >
          <mat-icon>add</mat-icon>
          Add
        </button>
      }
    </div>
    <ng-container>
      @if (sessions && sessions.length > 0) {
      <div class="row g-3">
        @for (session of sessions; track session._id) {
        <div class="col-md-6">
          <app-session-details-card [session]="session">
            @if (isOwner(event.user._id)) {
              <button
                mat-mini-fab
                type="button"
                class="bg-secondary-clr text-primary-clr"
                (click)="editSession(session._id, event._id)"
              >
                <mat-icon>edit</mat-icon>
              </button>
            }
          </app-session-details-card>
        </div>
        }
      </div>
      } @else {
        <p class="text-center">There is no session found.</p>
      }
    </ng-container>
  </section>
}
</app-outlet-inner>