.event-header {
  --stack-gap: var(--app-space-2);

  @media (min-width: 768px) {
    align-items: center;
  }
}

.header-left {
  --cluster-gap: var(--app-space-4);
}

.header-actions {
  align-self: flex-end;
  --cluster-gap: var(--app-space-2);
}
