@let event = (event$ | async)!;
@let sessions = sessions$ | async;

@if (isLoading()) {
  <app-page-loading></app-page-loading>
} @else {
<app-outlet-inner>
  <section>
    <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-md-center mb-3" style="gap: .5rem;">
      <div class="d-flex align-items-center" style="gap: 1rem;">
        <button
          mat-stroked-button
          type="button"
          (click)="location.back()"
        >
          <mat-icon class="text-primary-clr m-0">keyboard_backspace</mat-icon>
        </button>
        <h3 class="text-primary-clr mb-0">Event's Details</h3>
      </div>
      @if (isOwner(event.user._id)) {
      <div class="d-flex align-items-center align-self-end" style="gap: .5rem;">
        <button
          mat-raised-button
          type="button"
          class="bg-secondary-clr text-primary-clr"
          (click)="editEvent(event)"
        >
          <mat-icon>edit</mat-icon>
          Edit
        </button>
        <button
          mat-raised-button
          type="button"
          class="bg-secondary-clr text-primary-clr"
          (click)="deleteEvent(event._id)"
        >
          <mat-icon>delete</mat-icon>
          Delete
        </button>
        <button mat-icon-button class="bg-secondary-clr text-primary-clr" [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="'/organizer/dashboard/events/' + event._id + '/registered_users'">
            <mat-icon>people_outline</mat-icon>
            Registered Users
          </button>
          <button mat-menu-item [routerLink]="'/organizer/dashboard/events/' + event._id + '/invite'">
            <mat-icon>person_add</mat-icon>
            Invite Users
          </button>
          <button mat-menu-item [routerLink]="'/organizer/dashboard/events/' + event._id + '/meeting'">
            <mat-icon>meeting_room</mat-icon>
            Meeting
          </button>
        </mat-menu>
      </div>
      }
    </div>
    <app-event-details-card [event]="event" />
  </section>
  <section class="mt-3">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h5 class="text-primary-clr mb-0">Sessions</h5>
      @if (isOwner(event.user._id)) {
        <button
          mat-raised-button
          type="button"
          class="bg-secondary-clr text-primary-clr"
          (click)="openSessionModal(event._id)"
        >
          <mat-icon>add</mat-icon>
          Add
        </button>
      }
    </div>
    <ng-container>
      @if (sessions && sessions.length > 0) {
      <div class="row g-3">
        @for (session of sessions; track session._id) {
        <div class="col-md-6">
          <app-session-details-card [session]="session">
            @if (isOwner(event.user._id)) {
              <button mat-icon-button class="bg-secondary-clr text-primary-clr" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="editSession(session._id, event._id)">
                  <mat-icon>edit</mat-icon>
                  Edit
                </button>
                <button mat-menu-item (click)="deleteSession(session._id)">
                  <mat-icon>delete</mat-icon>
                  Delete
                </button>
              </mat-menu>
            }
          </app-session-details-card>
        </div>
        }
      </div>
      } @else {
        <p class="text-center">There is no session found.</p>
      }
    </ng-container>
  </section>
</app-outlet-inner>
}