@use 'sass:map';
@use '@angular/material' as mat;

$_palettes: (
  primary: (
    0: #000000,
    10: #261237,
    20: #3c284d,
    25: #483359,
    30: #543e65,
    35: #604971,
    40: #6c557e,
    50: #866e98,
    60: #a187b3,
    70: #bca1cf,
    80: #d8bceb,
    90: #f2daff,
    95: #faecff,
    98: #fff7fd,
    99: #fffbff,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #2d1513,
    20: #452927,
    25: #513432,
    30: #5e3f3d,
    35: #6b4a48,
    40: #785654,
    50: #936e6c,
    60: #af8785,
    70: #cba19e,
    80: #e8bcb9,
    90: #ffdad7,
    95: #ffedeb,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #340e1b,
    20: #4e222f,
    25: #5b2d3a,
    30: #683845,
    35: #764451,
    40: #834f5d,
    50: #9f6775,
    60: #bc808f,
    70: #d99aa9,
    80: #f7b5c4,
    90: #ffd9e0,
    95: #ffecef,
    98: #fff8f8,
    99: #fffbff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #1d1b1e,
    20: #322f33,
    25: #3d3a3e,
    30: #494649,
    35: #555155,
    40: #615d61,
    50: #7a7679,
    60: #948f93,
    70: #afaaad,
    80: #cbc5c9,
    90: #e7e1e5,
    95: #f5eff3,
    98: #fef7fb,
    99: #fffbff,
    100: #ffffff,
    4: #0f0d10,
    6: #151315,
    12: #211f22,
    17: #2c292c,
    22: #373437,
    24: #3b383b,
    87: #ded8dc,
    92: #ede6ea,
    94: #f3ecf0,
    96: #f8f2f6,
  ),
  neutral-variant: (
    0: #000000,
    10: #1e1a21,
    20: #342f36,
    25: #3f3941,
    30: #4a454d,
    35: #565059,
    40: #635c65,
    50: #7c757e,
    60: #968e98,
    70: #b1a9b2,
    80: #cdc4ce,
    90: #e9dfea,
    95: #f8eef8,
    98: #fff7fd,
    99: #fffbff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes,  neutral-variant),
  error: map.get($_palettes, error),
);

$primary-palette: map.merge(map.get($_palettes, primary), $_rest);
$tertiary-palette: map.merge(map.get($_palettes, tertiary), $_rest);

$success-palette: (
  0: #000000,
  10: #002204,
  20: #003909,
  25: #00460e,
  30: #005312,
  35: #076019,
  40: #1b6d24,
  50: #38873a,
  60: #53a252,
  70: #6dbd6a,
  80: #88d982,
  90: #a3f69c,
  95: #c8ffbf,
  98: #ecffe4,
  99: #f6fff0,
  100: #ffffff,
);

$warning-palette: (
  0: #000000,
  10: #2a1800,
  20: #462b00,
  25: #543500,
  30: #643f00,
  35: #734a00,
  40: #835400,
  50: #a56b00,
  60: #c78200,
  70: #e99b13,
  80: #ffb957,
  90: #ffddb5,
  95: #ffeedd,
  98: #fff8f4,
  99: #fffbff,
  100: #ffffff,
);