@let accepted_users = accepted_users$ | async;

@if (accepted_users) {
  <mat-dialog-content class="pt-3">
    <h2 class="dialog-heading">Invitation accepted users</h2>
    @if (accepted_users.length > 0) {
      @for (item of accepted_users; track item.user.email) {
        <p class="mb-1">{{ $index + 1 }}. {{ item.user.name }}</p>
      }
    } @else {
      <app-empty-state
        compact
        icon="how_to_reg"
        headline="No acceptances yet"
        supporting="Users who accept their invitation will be listed here."
      />
    }
  </mat-dialog-content>
  <mat-dialog-actions [align]="'end'">
    <button 
      mat-button
      type="button"  
      mat-dialog-close
    >
      Cancel
    </button>
  </mat-dialog-actions>
}