@let accepted_users = accepted_users$ | async;

@if (accepted_users) {
  <mat-dialog-content class="pt-3">
    <h5 class="text-primary-clr">Invitation accepted users list</h5>
    @if (accepted_users.length > 0) {
      @for (item of accepted_users; track item.user.email) {
        <p class="mb-1">{{ $index + 1 }}. {{ item.user.name }}</p>
      }
    } @else {
      <p class="text-center mt-3">There is no accepted user for this event.</p>
    }
  </mat-dialog-content>
  <mat-dialog-actions [align]="'end'">
    <button 
      mat-button
      type="button"  
      mat-dialog-close
    >
      Cancel
    </button>
  </mat-dialog-actions>
}