<app-register-wrapper>
  <ng-container form>
    <h1 class="text-primary-clr mb-3 d-md-none text-center">VE-Plan</h1>
    <h3 class="text-primary-clr mb-4 text-center">Login</h3>
    <form [formGroup]="login_form" (ngSubmit)="submit()" class="d-flex flex-column login-form">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" placeholder="Enter email">
        @if (emailControl.hasError('email') && !emailControl.hasError('required')) {
          <mat-error>Please enter a valid email address.</mat-error>
        }
        @if (emailControl.hasError('required')) {
          <mat-error>Email is required.</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput [type]="isPassword() ? 'password' : 'text'" formControlName="password" placeholder="Enter password" />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="togglePasswordVisibility()"
        >
          <mat-icon>{{ isPassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        @if (passwordControl.hasError('required')) {
          <mat-error>Password is required.</mat-error>
        }
      </mat-form-field>
      <button
        mat-raised-button
        type="submit"
        class="bg-primary-clr text-white"
      >
        Login
      </button>
    </form>
  </ng-container>
</app-register-wrapper>
