.login-form {
  width: 100%;
  max-width: 300px;
  gap: 5px;
}

.oauth-buttons {
  width: 100%;
  max-width: 300px;
  --stack-gap: var(--app-space-3);
}

.oauth-logo {
  width: 20px;
  margin-right: 8px;

  &--facebook {
    background: white;
    border-radius: 50%;
  }
}