@let event = event$ | async;

@if (event) {
  @let detailUrl = 'organizer/dashboard/events/' + event._id + '/view';

  <mat-dialog-actions class="d-flex justify-content-between">
    <h3 class="text-primary-clr mb-0">{{ event.title }}</h3>
    <a class="text-decoration-underline" [routerLink]="detailUrl">See Details</a>
  </mat-dialog-actions>
  <mat-dialog-content class="pt-2 pb-4">
    <p>{{ event.description }}</p>
    
    <div class="d-flex" style="gap: .5rem;">
      <mat-icon>calendar_today</mat-icon>
      <span>{{ formatDate(event.date) }}</span>
    </div>

    <div class="d-flex" style="gap: .5rem;">
      <mat-icon>category</mat-icon>
      <span>{{ event.category }}</span>
    </div>
   
    <div class="d-flex" style="gap: 2rem;">
      <div>
        <p class="mb-0">From:</p>
        <div class="d-flex" style="gap: .5rem;">
          <mat-icon>access_time</mat-icon>
          <span>{{ formatTime(event.start_time) }}</span>
        </div>
      </div>
      <div>
        <p class="mb-0">To:</p>
        <div class="d-flex" style="gap: .5rem;">
          <mat-icon>access_time</mat-icon>
          <span>{{ formatTime(event.end_time) }}</span>
        </div>
      </div>
    </div>
    <p>Type: {{ event.type }}</p>
    <p>Created by: {{ event.user.name }}</p>
  </mat-dialog-content>
}
