@let event = event$ | async;

@if (event) {
  @let detailUrl = 'organizer/dashboard/events/' + event._id + '/view';

  <mat-dialog-actions class="d-flex justify-content-between">
    <h3 class="text-primary-clr mb-0">{{ event.title }}</h3>
    <a class="text-decoration-underline cursor-pointer d-flex" style="gap: .3rem;"(click)="navigate(detailUrl)">
      <span>See Details</span>
      <mat-icon>arrow_forward</mat-icon>
    </a>
  </mat-dialog-actions>
  <mat-dialog-content class="pt-2 pb-4">
    @if (event.cover) {
      <img [src]="cover_url + '/' + event.cover" alt="Event photo" class="cover-img">
    }
    <p>{{ event.description }}</p>
    <div class="row mb-2">
      <div class="col-6">
        <b class="mb-0 text-primary-clr">Date:</b>
        <div class="event-info">
          <mat-icon class="text-primary-clr">event_available</mat-icon>
          <span>{{ event.date | formatDate }}</span>
        </div>
      </div>
      <div class="col-6">
        <b class="mb-0 text-primary-clr">Organizer:</b>
        <div class="event-info">
          <mat-icon class="text-primary-clr">person_outline</mat-icon>
          <span>{{ event.user.name }}</span>
        </div>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-6">
        <b class="mb-0 text-primary-clr">From:</b>
        <div class="event-info">
          <mat-icon class="text-primary-clr">access_time</mat-icon>
          <span>{{ event.start_time | formatTime }}</span>
        </div>
      </div>
      <div class="col-6">
        <b class="mb-0 text-primary-clr">To:</b>
        <div class="event-info">
          <mat-icon class="text-primary-clr">access_time</mat-icon>
          <span>{{ event.end_time | formatTime }}</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <b class="mb-0 text-primary-clr">Category:</b>
        <div class="event-info">
          <mat-icon class="text-primary-clr">developer_board</mat-icon>
          <span class="text-capitalize">{{ event.category }}</span>
        </div>
      </div>
      <div class="col-6">
        <b class="mb-0 text-primary-clr">Type:</b>
        <div class="event-info">
          <mat-icon class="text-primary-clr">visibility</mat-icon>
          <span class="text-capitalize">{{ event.type }}</span>
        </div>
      </div>
    </div>
  </mat-dialog-content>
}
