section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info {
  width: 65%;
}

main {
  border-top: 5px solid var(--primary-clr);

  @media (min-width: 768px) {
    border-top: none;
  }
}