<main class="d-flex min-vh-100">
  <section class="d-none d-md-flex flex-column justify-content-center align-items-center bg-primary-clr">
    <h1 class="text-secondary-clr mb-3">VE-Plan</h1>
    <p class="text-white text-center info">A comprehensive virtual event planning platform that helps you organize and attend virtual events easily</p>
  </section>
  <section class="d-flex flex-column justify-content-center align-items-center py-5 px-3">
    <ng-content select="[form]"></ng-content>
  </section>
</main>
