/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");

:root {
  --primary-clr: #432E54;
  --secondary-clr: #E8BCB9;
}

html, body {
  height: 100%;

  @include mat.theme((
    typography: "Ubuntu",
  ));
}

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

.bg {
  &-primary-clr {
    background-color: var(--primary-clr) !important;
  }
  
  &-secondary-clr {
    background-color: var(--secondary-clr) !important;
  }
}

.text {
  &-primary-clr {
    color: var(--primary-clr) !important;
  }

  &-secondary-clr {
    color: var(--secondary-clr) !important;
  }
}

/* For full calender style customization */

a {
  text-decoration: none;
  color: var(--primary-clr);
}

.fc {
  &-button {
    background-color: var(--primary-clr) !important;

    &-active {
      background-color: var(--secondary-clr) !important;
      color: var(--primary-clr) !important;
    }
  }

  &-toolbar-title {
    color: var(--primary-clr);
  }

  &-day-today {
    background-color: var(--secondary-clr) !important;
  }

  &-h-event {
    background-color: var(--primary-clr);
  }

  &-header-toolbar {
    flex-direction: column;
    gap: .5rem;

    @media (min-width: 992px) {
      flex-direction: row;
    }
  }

  &-toolbar-chunk:nth-of-type(1) {
    align-self: flex-start;
  }

  &-toolbar-chunk:nth-of-type(3) {
    align-self: flex-end;
  }

}