<h2 mat-dialog-title>
  {{ dialog_data._id ? "Edit" : "Create" }} Session
</h2>
<form [formGroup]="create_form" (ngSubmit)="submit()">
<mat-dialog-content>
  <div class="stack create-form">
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput type="text" formControlName="title" placeholder="Enter title">
      <mat-error appFormError [control]="titleControl" labelFor="Title" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="3"
        formControlName="description"
        placeholder="Enter description"
      ></textarea>
      <mat-error appFormError [control]="descriptionControl" labelFor="Description" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Speaker information</mat-label>
      <textarea
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="3"
        formControlName="speaker_info"
        placeholder="Enter speaker information"
      ></textarea>
      <mat-error appFormError [control]="speakerInfoControl" labelFor="Speaker information" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Start time</mat-label>
      <input
        matInput
        [matTimepicker]="timepicker1"
        formControlName="start_time"
        [matTimepickerMin]="(event$ | async)?.start_time | date: 'hh:mm'"
        [matTimepickerMax]="(event$ | async)?.end_time | date: 'hh:mm'"
      >
      <mat-timepicker #timepicker1/>
      <mat-timepicker-toggle [for]="timepicker1" matSuffix/>
      <mat-error appFormError [control]="startTimeControl" labelFor="Start time" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>End time</mat-label>
      <input
        matInput
        [matTimepicker]="timepicker2"
        formControlName="end_time"
        [matTimepickerMin]="(event$ | async)?.start_time | date: 'hh:mm'"
        [matTimepickerMax]="(event$ | async)?.end_time | date: 'hh:mm'"
      >
      <mat-timepicker #timepicker2/>
      <mat-timepicker-toggle [for]="timepicker2" matSuffix/>
      <mat-error appFormError [control]="endTimeControl" labelFor="End time" />
    </mat-form-field>
    <mat-error appFormError [control]="create_form" labelFor="Time" class="mb-3 time-error" />
  </div>
</mat-dialog-content>
<mat-dialog-actions [align]="'end'">
  <button
    mat-button
    type="button"
    mat-dialog-close
  >
    Cancel
  </button>
  <app-submit-button label="Done" [busy]="submitting()" cdkFocusInitial />
</mat-dialog-actions>
</form>
