<app-register-wrapper>
  <ng-container form>
    <h1 class="text-primary-clr mb-3 show-md-down text-center">VE-Plan</h1>
    <h3 class="text-primary-clr mb-4 text-center">Choose Role</h3>
    <form #role_form="ngForm" (ngSubmit)="submit(role_form)">
      <mat-form-field appearance="outline">
        <mat-label for="role">Role</mat-label>
        <mat-select [(ngModel)]="chosen_role" #role_control="ngModel" name="role" required>
          @for (role of roles; track role) {
            <mat-option [value]="role" class="text-capitalize" >
              {{ role }}
            </mat-option>
          }
        </mat-select>
        <mat-error appFormError [control]="role_control.control" labelFor="Role" />
      </mat-form-field>
      <app-submit-button
        label="Submit"
        [busy]="submitting()"
        [disabled]="role_form.invalid"
        class="role-submit mx-auto mt-1"
      />
    </form>
  </ng-container>
</app-register-wrapper>