<mat-icon class="toast__icon" aria-hidden="true">{{ icon }}</mat-icon>

<span class="toast__message" matSnackBarLabel>{{ data.message }}</span>

<span class="toast__actions" matSnackBarActions>
  @if (data.action) {
    <button type="button" class="toast__action" matSnackBarAction (click)="runAction()">
      {{ data.action }}
    </button>
  }
  <button
    type="button"
    mat-icon-button
    class="toast__close"
    aria-label="Dismiss notification"
    (click)="dismiss()"
  >
    <mat-icon aria-hidden="true">close</mat-icon>
  </button>
</span>
